<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="fw-bold">&#160;&#160;
            <i class="fa-solid fa-house-chimney" style="margin-right: 10px; color: black;"></i><a
                href="/set/">Home&#160;</a>
            <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li class="fw-bold"><a href="">&#160;Settings&#160;</a>
            <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li class="active fw-bold" style="color: #3BB161;" aria-current="page">&#160;Product</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col pt-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <div class="col text-start">
                                <h1>
                                    Update Product
                                </h1>
                            </div>
                            <button type="button" routerLink="/set/product" class="btn btn-info"
                                style="float: right;border-radius: 2rem;">View
                                Product</button>
                        </div>
                    </div>
                </div>
            </div>

            <form [formGroup]="viewproductForm" class="col-md-12 col-sm-12 col-12 mt-3 rounded-3 border p-5 bg-white ">

                <div class="form-group row mb-3">
                    <div class="form-floating col-lg-6 col-12 mb-4">
                        <input type="text" formControlName="productId" [(ngModel)]="product.productId" placeholder="Product Id" class="form-control border-secondary px-3" id="complianceName">
                        <label for="productId" class="col-lg-2 col-4 col-form-label mr-5 text-end mb-3">Product Id:</label>
                    </div>
                    <div class=" form-floating col-lg-6 col-12 mb-4">
                        <input type="text" formControlName="productName" [(ngModel)]="product.productName" placeholder="Product Name" class="form-control border-secondary px-3" id="complianceName">
                        <label for="productName" class="col-lg-2 col-4 col-form-label mr-5 text-end">Product Name:</label>
                    </div>

                    <div class="form-floating col-lg-6 col-12 mb-4">
                        <input type="text" formControlName="minValue" [(ngModel)]="product.minValue" placeholder="Min Value" class="form-control border-secondary px-3" id="complianceName">
                        <label for="minValue" class="col-lg-2 col-4 col-form-label mr-5 text-end mb-3">Min Value:</label>
                    </div>
                    <div class="form-floating col-lg-6 col-12 mb-4">
                        <input type="text" formControlName="maxValue" [(ngModel)]="product.maxValue" placeholder="Max Value" class="form-control border-secondary px-3" id="complianceName">
                        <label for="maxValue" class="col-lg-2 col-4 col-form-label mr-5 text-end">Max Value:</label>

                    </div>
                </div>

                <div class=" row mt-3 align-middle">
                    <div class=" col-md-6 text-center">
                        <button type="button" class="btn-info  m-lg-4 m-3 w-50 py-1"
                            style=" border-radius: 2rem;" (click)="onSubmit()"><i
                                class="ace-icon fa fa-check bigger-110"></i>
                            Submit</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <button type="button" (click)="reset()" class="btn-info m-lg-4 m-3 w-50 py-1"
                            style=" border-radius: 2rem;">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
