<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="fw-bold">&#160;&#160;
      <i class="fa-solid fa-house-chimney" style="margin-right: 10px; color: black;"></i><a href="/set/">Home&#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="fw-bold"><a href="">&#160;Settings&#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="active fw-bold" style="color: #3BB161;" aria-current="page">&#160;Product Fees</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col pt-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xl-6 col-12 text-start">
                <div class="page-header">
                  <h1>
                    Product Fees
                  </h1>
                </div>
              </div>

              <div class="col-lg-6 col-12 text-end">
                <div class="d-flex m-3">
                  <p>
                    <input class="w-100" type="text" [(ngModel)]="SearchText" (input)="applyFilter()"
                      placeholder="search" style="border-radius: 2rem; padding: 5px 20px;"
                      aria-controls="branch_datatable">
                  </p>
                  <div>
                    <button *ngIf="insertproductfees" type="button" routerLink="/set/add-productFees" class="btn btn-info px-3"
                    style="float: right;margin-left: 10px; border-radius: 2rem;">Add
                      Product Fees</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="branch_datatable_wrapper" class="dataTables_wrapper no-footer">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <div class="dataTables_length" id="branch_datatable_length">
                    <p>Show
                      <select name="branch_datatable_length" (ngModelChange)="refreshCountries()" [(ngModel)]="pageSize"
                        aria-controls="branch_datatable">
                        <!-- [(ngModel)]="resultsPerPage" -->
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                      </select> entries
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <table class="table ">
              <thead>
                <tr class="text-center">
                  <th class="p-3">Sr.No</th>
                  <th class="p-3">Product ID</th>
                  <th class="p-3">Product Name</th>
                  <th class="p-3">Product Range</th>
                  <th class="p-3">Branch Type</th>
                  <th class="p-3">Fees</th>
                  <th class="p-3" *ngIf="view || updateproductfees || deleteproductfees">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center"
                  *ngFor="let data of ProductFeeList  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize,let index = index ">
                  <td>{{index+1}}</td>
                  <td>{{data.productId}}</td>
                  <td>{{data.productName}}</td>
                  <td>{{data.minValue}} - {{data.maxValue}}</td>
                  <td>{{data.areaType}}</td>
                  <td>{{data.fees}}</td>
                  <td *ngIf="view || updateproductfees || deleteproductfees">
                    <button *ngIf="updateproductfees" class="btn btn-xs"
                    style="font-size: 13px;border: 0; background-color: transparent;"
                      (click)="edit(data.productFeeId)">
                      <i class="fa-solid fa-pen-to-square fa-lg" style="color: #3BB161;"></i>
                    </button>&nbsp;&nbsp;
                    <button *ngIf="deleteproductfees"
                    style="font-size: 13px; color:#DC3545; border: 0; background-color: transparent;"
                      (click)="delete(data.productFeeId)">
                      <!-- <i class="fa fa-trash"  aria-hidden="true"></i> -->
                      <i class="fa-solid fa-trash-can fa-lg"></i>
                    </button>

                  </td>
                  <!-- <td></td> -->
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <div class="dataTables_info mt-3" style="font-size: 14px;" id="branch_datatable_info" role="status"
                aria-live="polite">
                Showing {{(page - 1) * pageSize + 1}} to {{(page * pageSize < collectionSize) ? page * pageSize :
                  pageSize}} of {{ProductFeeList.length}} entries </div>
                  <ngb-pagination [pageSize]="25" [collectionSize]="collectionSize" [(page)]="page"
                    aria-label="Default pagination"></ngb-pagination>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>