<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="fw-bold">&#160;&#160;
      <i class="fa-solid fa-house-chimney" style="margin-right: 10px; color: black;"></i><a href="/set/">Home&#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="fw-bold"><a href="">&#160;Settings&#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="active fw-bold" style="color: #3BB161;" aria-current="page">&#160;Department</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col  pt-1">
      <div class="container ">
        <div class="row">
          <div class="col">
            <div class="page-header">
              <div class="col text-start">
                <h1>
                  Department
                </h1>
              </div>
              <button type="button" routerLink="/set/department" class="btn btn-info"
                style="float: right;border-radius: 2rem;">View
                Department</button>
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="adddepartmentForm" class="col-md-12 col-sm-12 col-xs-12 mt-3 rounded-3 border p-5 bg-white ">

        <div class="form-group row mb-3 justify-content-center">
          <div class="col-10">
            <div class="row">
              <div class="col-12 col-lg-6 mb-4">
                <div class="form-floating">
                  <select formControlName="mainDepId" [(ngModel)]="department.mainDepId" class="form-select">
                    <option value="">-----------------------Select------------------------ </option>
                    <option *ngFor="let mainDep of allMaindeps" [value]="mainDep.id">{{mainDep.mainDepName}}</option>
                  </select>
                  <label for="mainDepId" class="col-lg-3 col-md-4 col-3 col-form-label ml-2 text-end">Select Main
                    Department</label>
                </div>
              </div>
              <div class="col-12 col-lg-6 mb-4">
                <div class="form-floating">
                  <input type="text" formControlName="departmentName" placeholder="departmentName"
                    [(ngModel)]="department.departmentName" class="form-control" id="complianceName">
                  <label for="departmentName" class="col-lg-3 col-md-4 col-3  col-form-label mr-5 text-end">Department
                    Name</label>
                </div>
              </div>
            </div>

            <div class=" row mt-3 align-middle">
              <div class="col-12 col-lg-6 text-center">
                <!-- <div class="col-sm-offset-3 col-md-9"> -->
                <button type="button" class="btn-info  m-lg-4 m-3 w-50 py-1" style=" border-radius: 2rem;"
                  (click)="onSubmit()"><i class="ace-icon fa fa-check bigger-110"></i>
                  Submit</button>
              </div>
              <div class="col-12 col-lg-6 text-center">
                <button type="reset" class="btn-info m-lg-4 m-3 w-50 py-1" style=" border-radius: 2rem;">
                  <i class="ace-icon fa fa-undo bigger-110"></i>
                  Cancel
                </button>
              </div>
            </div>
          </div>
          <div class="col-2 text-center mt-2 ">
            <button class="btn plus rounded-5 py-2" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal1">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Customer Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form class=" col-12 mt-4">
                      <div class="container">
                        <div class="form-group row mb-3">
                          <div class="form-floating  mb-4">
                            <input type="text" placeholder="Main Department Name" [(ngModel)]="Mdep.mainDepName"
                              [ngModelOptions]="{standalone: true}" class="form-control" id="complianceName">
                            <label for="departmentName"
                              class="col-lg-3 col-md-4 col-3  col-form-label mr-5 text-end">Main Department Name</label>
                          </div>
                          <div class=" col-12 text-center">
                            <div class="col-12">
                              <button type="button" class="btn-info m-2 w-100 py-1" style=" border-radius: 2rem;"
                                (click)="addMainDep()"><i class="ace-icon fa fa-check bigger-110"></i>
                                Submit</button>
                            </div>
                            <div class="col-12">
                              <button type="button" class="btn btn-secondary m-2 w-100 py-1"
                                style=" border-radius: 2rem;" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>

<!--                      <button type="button" class="btn btn-info  m-lg-4 m-4" (click)="addMainDep()"><i
                              class="ace-icon fa fa-check bigger-110"></i>
                            Submit</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  ************************************************************************************************** -->

        <!-- <div class="form-group row mb-3">
          <div class="form-floating col-lg-5 col-md-10 col-10">
            <select formControlName="mainDepId" [(ngModel)]="department.mainDepId" class="form-select">
              <option value="">-----------------------Select------------------------ </option>
              <option *ngFor="let mainDep of allMaindeps" [value]="mainDep.id">{{mainDep.mainDepName}}</option>
            </select>
            <label for="mainDepId" class="col-lg-3 col-md-4 col-3 col-form-label ml-2 text-end">Select Main
              Department</label>
          </div>
          <div class="form-floating col-lg-5 col-md-10 col-10">
            <input type="text" formControlName="departmentName" placeholder="departmentName"
              [(ngModel)]="department.departmentName" class="form-control" id="complianceName">
            <label for="departmentName" class="col-lg-3 col-md-4 col-3  col-form-label mr-5 text-end">Department</label>
          </div>

          <div class="col-2">
            <button class="btn plus" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Customer Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form class=" col-md-12 col-sm-12 col-xs-12 mt-5">
                      <div class="container">

                        <div class="form-group row mb-3">

                          <div class="form-floating col-lg-6 col-md-8 col-8 ">
                            <input type="text" id="MainDepartmentName" placeholder="Main Department Name"
                              [(ngModel)]="Mdep.mainDepName" [ngModelOptions]="{standalone: true}">
                            <label for="MainDepartmentName" class="col-lg-5 col-4 control-label">Main Department
                              Name</label>
                          </div>
                        </div>
                        <div class="text-center">
                          <button type="button" class="btn btn-info  m-lg-4 m-4" (click)="addMainDep()"><i
                              class="ace-icon fa fa-check bigger-110"></i>
                            Submit</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class=" row mt-3 align-middle">
          <div class="col-md-6 text-center">
            <button type="button" class="btn-info  m-lg-4 m-3 w-50 py-1" style=" border-radius: 2rem;"
              (click)="onSubmit()"><i class="ace-icon fa fa-check bigger-110"></i>
              Submit</button>
          </div>
          <div class="col-md-6 text-center">
            <button type="reset" class="btn-info m-lg-4 m-3 w-50 py-1" style=" border-radius: 2rem;">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              Cancel
            </button>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>