<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="fw-bold">&#160;&#160;
      <i class="fa-solid fa-house-chimney" style="margin-right: 10px; color: black;"></i><a href="/set/">Home&#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="fw-bold"><a href="">&#160;Settings&#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="active fw-bold" style="color: #3BB161;" aria-current="page">&#160;Branch</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col pt-1">
      <div class="container-fluid">
        <div class="page-header">
          <div class="col text-start">
            <h1>
              Branch
            </h1>
          </div>
          <p><input class="w-100" type="text" style="border-radius: 2rem; padding: 5px 20px;" [(ngModel)]="SearchText"
              (input)="applyFilter()" placeholder="search" aria-controls="branch_datatable">
          </p>
          <button *ngIf="insertbranch" type="button" routerLink="/set/add-branch" class="btn-info px-3"
            style="float: right;height: 40px; margin-left: 10px; border-radius: 2rem;">Add
            Branch</button>
        </div>
        <div class="row">
          <div class="col">
            <div id="branch_datatable_wrapper" class="dataTables_wrapper no-footer">
              <div class="row">
                <div class="col-lg-9 col-md-8">
                  <div class="dataTables_length" id="branch_datatable_length">
                    <p>Show
                      <select name="branch_datatable_length" (ngModelChange)="refreshCountries()" [(ngModel)]="pageSize"
                        aria-controls="branch_datatable">
                        <!-- [(ngModel)]="resultsPerPage" -->
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                      </select> entries
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th scope="col" width="5%" class="sorting_asc p-3" tabindex="0" aria-controls="branch_datatable"
                    rowspan="1" colspan="1" aria-label="Sr.No.: activate to sort column descending" style="width: 60px;"
                    aria-sort="ascending">Sr.No.</th>
                  <th scope="col" width="10%" class="sorting p-3" tabindex="0" aria-controls="branch_datatable"
                    rowspan="1" colspan="1" aria-label="Branch ID: activate to sort column ascending"
                    style="width: 127px;">Branch
                    ID</th>
                  <th scope="col" width="10%" class="sorting p-3" tabindex="0" aria-controls="branch_datatable"
                    rowspan="1" colspan="1" aria-label="Branch Name: activate to sort column ascending"
                    style="width: 138px;">Branch
                    Name</th>
                  <th scope="col" width="10%" class="sorting p-3" tabindex="0" aria-controls="branch_datatable"
                    rowspan="1" colspan="1" aria-label="Branch Code: activate to sort column ascending"
                    style="width: 127px;">Branch
                    Code</th>
                  <th scope="col" width="10%" class="sorting p-3" tabindex="0" aria-controls="branch_datatable"
                    rowspan="1" colspan="1" aria-label="Branch City: activate to sort column ascending"
                    style="width: 149px;">Branch
                    City</th>
                  <th scope="col" width="29%" class="sorting p-3" tabindex="0" aria-controls="branch_datatable"
                    rowspan="1" colspan="1" aria-label="Branch Address: activate to sort column ascending"
                    style="width: 394px;">
                    Branch Address</th>
                  <th *ngIf="updatebranch || deletebranch" scope="col" width="10%" class="sorting p-3" tabindex="0"
                    aria-controls="branch_datatable" rowspan="1" colspan="1"
                    aria-label="Branch Address: activate to sort column ascending" style="width: 100px;">
                    Action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center"
                  *ngFor="let data of branchList  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize,let index = index ">
                  <td>{{index+1}}</td>
                  <td>{{data.branchId}}</td>
                  <td>{{data.branchName}}</td>
                  <td>{{data.branchCode}}</td>
                  <td>{{data.branchCity}}</td>
                  <td>{{data.branchAddress}}</td>
                  <td *ngIf="updatebranch || deletebranch">
                    <button *ngIf="updatebranch"
                      style="font-size: 13px; border: 0; background-color: transparent;"
                      (click)="edit(data.branchId)">
                      <i class="fa-solid fa-pen-to-square fa-lg" style="color: #3BB161;"></i>
                    </button>&nbsp;&nbsp;
                    <button *ngIf="deletebranch"
                      style=" font-size: 13px; color:#DC3545;  border: 0; background-color: transparent;"
                      (click)="delete(data.branchId)">
                      <!-- <i class="fa fa-trash"  aria-hidden="true"></i> -->
                      <i class="fa-solid fa-trash-can fa-lg"></i>
                    </button>

                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <div class="dataTables_info mt-3" style="font-size: 14px;" id="branch_datatable_info" role="status"
                aria-live="polite">
                Showing {{(page - 1) * pageSize + 1}} to {{(page * pageSize < collectionSize) ? page * pageSize :
                  pageSize}} of {{branchList.length}} entries </div>
                  <ngb-pagination [pageSize]="25" [collectionSize]="collectionSize" [(page)]="page"
                    aria-label="Default pagination"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>