<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
      <li class="fw-bold">&#160;&#160;
        <i class="fa-solid fa-house-chimney" style="margin-right: 10px; color: black;"></i><a href="/set/">Home&#160;</a>
        <i class="fa-solid fa-chevron-right"></i>
      </li>
      <li class="fw-bold"><a href="">&#160;Settings&#160;</a>
        <i class="fa-solid fa-chevron-right"></i>
      </li>
      <li class="active fw-bold" style="color: #3BB161;" aria-current="page">&#160;Compliance</li>
    </ol>
  </nav>
<div class="container-fluid">
    <div class="row">
        <div class="col  pt-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <div class="col text-start">
                                <h1>
                                    Compliance
                                </h1>
                            </div>
                            <button type="button" routerLink="/set/compliance" class="btn btn-info"
                                style="float: right;border-radius: 2rem;">View
                                Compliance</button>
                        </div>
                    </div>
                </div>
            </div>

            <form [formGroup]="complianceForm"
                class="col-md-12 col-sm-12 col-xs-12 mt-3 rounded-3 border p-5 bg-white ">

                <div class="form-group row mb-4">
                    <div class="form-floating col-lg-6 col-12  mb-4">
                        <input type="text" formControlName="complianceName" [(ngModel)]="compliance.complianceName"
                            class="form-control border-secondary px-3" id="complianceName" placeholder="complianceName">
                        <label for="complianceName" class="col-lg-2 col-4   col-form-label mr-5 mb-2">Compliance
                            Name</label>
                    </div>
                    <div class="form-floating col-lg-6 col-12  mb-4">
                        <select formControlName="taxLink" [(ngModel)]="compliance.taxLink"
                            class="form-select border-secondary px-3  rounded-3">
                            <option value="None" selected>None</option>
                            <option *ngFor="let tax of taxData" [value]="tax.taxTypeName">{{ tax.taxTypeName }}
                            </option>
                        </select>
                        <label for="taxLink" class="col-lg-1 col-4 col-form-label ml-2">Tax Link</label>
                    </div>
                    <div class="form-floating col-lg-6 col-12  mb-4">
                        <input type="date" formControlName="complianceDueDate" placeholder="complianceDueDate"
                            [(ngModel)]="compliance.complianceDueDate" class="form-control border-secondary px-3"
                            id="complianceDueDate">
                        <label for="complianceDueDate" class="col-lg-2 col-4 col-form-label">Compliance Due
                            Date</label>

                    </div>
                </div>


                <div class=" row mt-3 align-middle">
                    <div class=" col-md-6 text-center">
                        <button type="button" class="btn-info  m-lg-4 m-3 w-50 py-1"
                            style=" border-radius: 2rem;" (click)="onSubmit()"><i
                                class="ace-icon fa fa-check bigger-110"></i>
                            Submit</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <button type="reset" class="btn-info m-lg-4 m-3 w-50 py-1"
                            style=" border-radius: 2rem;">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>