<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white">
    <li class="fw-bold">&#160;&#160;
      <i class="fa-solid fa-house-chimney" style="margin-right: 10px; color: black;"></i><a href="/set/">Home&#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="fw-bold"><a href="">&#160;Settings&#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>
    <li class="active fw-bold" style="color: #3BB161;" aria-current="page">&#160;Product Fees</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col pt-1">
      <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <div class="col text-start">
                        <h1>
                            Update Product Fees
                        </h1>
                    </div>
                    <button type="button" routerLink="/set/productFees" class="btn btn-info px-3"
                        style="float: right;border-radius: 2rem;">View
                        Product Fees</button>
                </div>
            </div>
        </div>
    </div>

      <form [formGroup]="feeForm" class="col-md-12 col-sm-12 col-12 mt-3 rounded-3 border p-5 bg-white">

        <div class="form-group row justify-content-center">
          <div class="form-floating col-lg-6 col-12">
            <input type="number" formControlName="fees" [(ngModel)]="fee.fees" class="form-control border-secondary px-3" placeholder="Fees" id="complianceName">
            <label for="fees" class="col-lg-1 col-4   col-form-label mr-5">Fees</label>
          </div>
        </div>

        <div class=" row mt-4 justify-content-center">
          <div class=" col-md-6 text-center">
              <button type="button" class="btn-info  m-lg-4 m-3 w-50 py-1"
                  style=" border-radius: 2rem;" (click)="onSubmit()"><i
                      class="ace-icon fa fa-check bigger-110"></i>
                  Submit</button>
          </div>
          <div class="col-md-6 text-center">
              <button type="reset" class="btn-info m-lg-4 m-3 w-50 py-1"
                  style=" border-radius: 2rem;">
                  <i class="ace-icon fa fa-undo bigger-110"></i>
                  Reset
              </button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>

