<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
      <li class="fw-bold">&#160;&#160;
        <i class="fa-solid fa-house-chimney" style="margin-right: 10px; color: black;"></i><a href="/set/">Home&#160;</a>
        <i class="fa-solid fa-chevron-right"></i>
      </li>
      <li class="fw-bold"><a href="">&#160;Settings&#160;</a>
        <i class="fa-solid fa-chevron-right"></i>
      </li>
      <li class="active fw-bold" style="color: #3BB161;" aria-current="page">&#160;Branch</li>
    </ol>
  </nav>
<div class="container">
    <div class="row">
        <div class="col pt-1">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-header">  
                            <div class="col text-start">
                                <h1>
                                    Add Branch
                                </h1>
                            </div>
                            <button type="button" routerLink="/set/branch" class="btn-info px-3"
                                style="float: right; border-radius: 2rem; ">View
                                Branch</button>
                        </div>
                    </div>
                </div>
            </div>

            <form [formGroup]="addbranch" class="col-md-12 col-sm-12 col-xs-12 mt-3 rounded-3 border p-5 bg-white ">

                <div class="form-group row mb-4">
                    <div class="form-floating col-12 col-lg-6 mb-4 ">
                        <input id="branchname" type="text" formControlName="branchname" [(ngModel)]="branch.branchName"
                            placeholder="branchname" class="form-control border-secondary px-3 rounded-3 ">
                        <label for="branchname" class="col-lg-2 col-4 col-form-label ">Branch Name</label>
                    </div>

                    <div class="form-floating col-12 col-lg-6 mb-4 ">
                        <select formControlName="branchclass" [(ngModel)]="branch.branchClassification"
                            placeholder="branchClassification" class="form-select border-secondary px-3  rounded-3"
                            id="branchclass" style="font-size: small;">
                            <option value="">-----------------------Select------------------------ </option>
                            <option value="1">Rubal </option>
                            <option value="1">Urban</option>
                            <option value="0">Semi-Urban</option>
                            <option value="0">Metro</option>
                        </select>
                        <label for="branchclass" class="col-lg-2 col-4 col-form-label ">Branch
                            Classification</label>
                    </div>
                    <div class="form-floating col-12 col-lg-6  mb-4">
                        <input type="text" formControlName="branchcode" [(ngModel)]="branch.branchCode"
                            placeholder="branchcode" class="form-control border-secondary px-3 rounded-3"
                            id="branchcode">
                        <label for="branchcode" class="col-lg-2 col-4   col-form-label mr-5">Branch Code</label>
                    </div>
                    <div class="form-floating col-12 col-lg-6  mb-4">
                        <input type="text" formControlName="branchcity" [(ngModel)]="branch.branchCity"
                            placeholder="branchcity" class="form-control border-secondary px-3 rounded-3"
                            id="branchcity">
                        <label for="branchcity" class="col-lg-2 col-4   col-form-label mr-5">Branch City</label>
                    </div>
                    <div class="form-floating col-12 col-lg-6  mb-4">
                        <input type="text" formControlName="brancharea" [(ngModel)]="branch.branchArea"
                            placeholder="brancharea" class="form-control border-secondary px-3 rounded-3"
                            id="brancharea">
                        <label for="brancharea" class="col-lg-2 col-4   col-form-label mr-5 mb-2">Branch
                            Area</label>
                    </div>
                    <div class="form-floating col-12 col-lg-6  mb-4">
                        <input type="text" formControlName="latitude" [(ngModel)]="branch.latitude"
                            placeholder="latitude" class="form-control border-secondary px-3 rounded-3" id="latitude">
                        <label for="latitude" class="col-lg-2 col-4   col-form-label mr-5 mb-2">Latitude</label>
                    </div>
                    <div class="form-floating col-12 col-lg-6  mb-4">
                        <input type="text" formControlName="longitude" [(ngModel)]="branch.longitude"
                            placeholder="longitude" class="form-control border-secondary px-3 rounded-3" id="longitude">
                        <label for="longitude" class="col-lg-2 col-4 col-form-label mr-5  mb-2">Longitude</label>
                    </div>

                    <div class="form-floating col-12 col-lg-6  mb-4">
                        <!-- <div class="col-sm-8"> -->
                        <textarea class="form-control border-secondary h-100 px-3 rounded-3"
                            [(ngModel)]="branch.branchAddress" id="address" rows="3" placeholder="address"
                            formControlName="address" required> </textarea>
                        <label for="address" class="col-lg-2 col-4 col-form-label mr-5 mb-2">Branch
                            Address</label>
                        <!-- </div> -->
                    </div>
                </div>

                <div class="row text-center mt-3 align-middle">
                    <div class="col-md-6">
                        <button type="button" class="btn-info  m-lg-6 m-3 w-50"
                            style="border-radius: 2rem;" (click)="onSubmit()"><i
                                class="ace-icon fa fa-check bigger-110"></i>
                            Submit</button>
                    </div>
                    <div class="col-sm-offset-3 col-md-6">
                        <button type="reset" class="btn-info m-lg-6 m-3 w-50"
                            style=" border-radius: 2rem;">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Cancel
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>